{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}



<!--This shows within the layout.html template-->
<div class="container">
<div class="add-recipe">
  <div class="page-header">
    <h2>Lägg till ett nytt recept</h2>
  </div>
  <form action="{{ url_for('recipes.add_recipe', ingredients=ingredients) }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.recipe_title, placeholder="Titel på recept") }}
      {{ render_field(form.recipe_description, placeholder="Beskrivning av recept") }}
      <br>
      <p><strong>Ingredienser:</strong></p>
      <div class="add_new_recipes" id="add_new_recipe">
          <select class="ingredients_select" name="ingredient_select"></select>
          <input type="text" class="ingredient_amount"/>
          <span class="unit_label measurement_unit_label"></span>
          <input type="hidden" name="ingredient[]" class="hidden-ingredient-input">
      </div>

      <button id="clone_ingredient" >Lägg till en till ingrediens</button>
      
      <br></br>
      
      {{ render_field(form.recipe_image) }}
      <br>
      {{ render_field(form.is_public) }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Lägg till recept</button>
  </form>
  
</div>
</div>

<script>
  
  $(document).ready(function() {

    $("body").on("change",".ingredients_select, .ingredient_amount", function() {
      let ingredientId = $(this).parent().children(".ingredients_select").val();
      let amount = $(this).parent().children(".ingredient_amount").val();
      let unit = $(this).parent().children(".unit_label").text();


      let inputValue = ingredientId + "-" + amount + "-" + unit;
      console.log(inputValue);
      $(this).parent().children(".hidden-ingredient-input").val(inputValue);
    });

    $("#clone_ingredient").on("click", function(){
      let new_ingredient = $('.add_new_recipes:last').clone(true);
      $(new_ingredient).insertAfter(".add_new_recipes:last");
    });


    $("#clone_ingredient").on("click", function(event){
      event.preventDefault();
    });
    
    
    $.getJSON($SCRIPT_ROOT + "/ingredientlist", null, function(data) {
      const ingredients = data.ingredients

      /* Populate select */
      $.each(ingredients, function(index, item){
        $(".ingredients_select").append(
          $("<option></option>")
            .text(item.name)
            .val(item.id)  
        )
      });


      /* Ingredients select handler */
      function on_ingredients_select_change(event) {
        const selected_ingredient_id = event.target.value

        const ingredient = ingredients.find(function(current_ingredient) {  
          return current_ingredient.id == selected_ingredient_id
        })

        $(".measurement_unit_label:last").text(ingredient.measurement_unit)
        
        
      };
      

      $(".ingredients_select").change(on_ingredients_select_change)


    }) 
  });


</script>

{% endblock %}