{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<!--This shows within the layout.html template-->
<div class="container">
<div class="add-recipe">
  <div class="page-header">
    <h2>Lägg till ett nytt recept</h2>
  </div>
  <form action="{{ url_for('recipes.add_recipe') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.recipe_title, placeholder="Titel på recept") }}
      {{ render_field(form.recipe_description, placeholder="Beskrivning av recept") }}
      {{ render_field(form.recipe_image) }}
      {{ render_field(form.is_public) }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Lägg till recept</button>
  </form> 
</div>
</div>
  
{% endblock %}