{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<!--This shows within the layout.html template-->
<div class="user-registration">
  <div class="page-header">
    <h2>Bytt lösenord</h2>
  </div>
<form action="#" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.password, placeholder="Ditt gammla Lösenord") }}
      {{ render_field(form.password, placeholder="Nytt Lösenord") }}
      {{ render_field(form.confirm, placeholder="Konfirmera lösenord") }}
    </dl>
    <a href="/" class="btn btn-sm btn-success">Byt lösenord</a>
  </form>
</div>
  
  
{% endblock %}