{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<!--This shows within the layout.html template-->
<div class="user-registration">
  <div class="page-header">
    <h2>Bytt lösenord</h2>
  </div>
<form action="{{ url_for('users.change_password') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.password, placeholder="Ditt gammla Lösenord") }}
      {{ render_field(form.new_password, placeholder="Nytt Lösenord") }}
      {{ render_field(form.confirm, placeholder="Bekräfta lösenord") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Bytt lösenord</button>
  </form>
</div>
  
  
{% endblock %}