{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<div class="user-registration">
  <div class="page-header">
    <h2>Log In</h2>
  </div>
    <form action="{{ url_for('users.login') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="Email") }}
      {{ render_field(form.password, placeholder="Lösenord") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Logga in</button>
  </form>
  <em>Nytt konto? </em><a href="/register">Registrera dig!!</a>
</div>
 
{% endblock %}