<!--Authors:Leo.M.H&Axel.H | Coding: utf-8-->

{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
<!--This shows within the layout.html template-->

<div>
  <img src="../static/images/pig.png" alt="pig" style="height: 20%;width: 20%;float: right;padding-top: 100px;">
  <img src="../static/images/grains.png" alt="grains" style="height: 10%;width: 10%;float: left;padding-top: 215px;">
  <img src="../static/images/kebab.png" alt="kebab" style="height: 10%;width: 10%;float: left;padding-top: 75px;">
</div>

<div class="container">
  <div class="header">
    <h1>Logga in</h1>
  </div>
  <div class="user-registration">
    <!-- Form for logging in -->
    <form action="{{ url_for('users.login') }}" method="post" class="loginstyle">
      {{ form.csrf_token }}
      <dl>
        <div>
        {{ render_field(form.email, id="loginregister", placeholder="Email") }}
        <br>
        {{ render_field(form.password, id="loginregister", placeholder="Lösenord") }}
        </div>
      </dl>
      <button class="btn btn-sm btn-success" type="submit" id="loggainknapp">Logga in</button>
    </form>
    <br>
    <!-- Register link -->
    <em>Nytt konto? </em><a href="/register">Registrera dig!!</a>
  </div>
</div>

{% endblock %}