<!--Author: Anton Hellberg | Coding: utf-8-->

{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
<!--This shows within the layout.html template-->

<div>
  <img src="../static/images/grains.png" alt="grains" style="height: 10%;width: 10%;float: right;padding-top: 215px;">
  <img src="../static/images/grains.png" alt="grains" style="height: 10%;width: 10%;float: left;padding-top: 215px;">
</div> 

<div class="container">
  <!-- Page for displaying all images uploaded-->  
  <div class="video">
    <h2>Bilder</h2>
    <div class="image">
      {% for image in images %}
        <img src="{{ image[0] }}" alt="{{ image[1] }}" width="300" height="300" margin-top="20px">
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}