{% extends "layout.html" %}
{% block content %}
<!--This shows within the layout.html template-->
<div class="container">
  <div class="user-profile">
    <div class="page-header">
      <h2>Dina recept</h2>
    </div>

    <table class="table table-striped" id="owned_stock_table">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Beskrivning</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in user_recipes %}
        <tr>
          <td><a href="{{ url_for('recipes.recipe_details', recipe_id=recipe.id) }}">{{ recipe.recipe_title }}</a></td>
          <td>{{ recipe.recipe_description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}