{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
<div>
    <img src="../static/images/pig.png" alt="pig" style="height: 20%;width: 20%;float: right;padding-top: 100px;">
    <img src="../static/images/grains.png" alt="grains" style="height: 10%;width: 10%;float: left;padding-top: 215px;">
    <img src="../static/images/kebab.png" alt="kebab" style="height: 10%;width: 10%;float: left;padding-top: 75px;">
  </div>
<!--This shows within the layout.html template-->
<div class="video">
    <h3>Grönsaker/frukt</h3>
    <ul>
        <li><a href="/video/dCGS067s0zo">Hacka lök</a></li>
    </ul>
    <h3>Köt</h3>
    <ul>
        <li><a href="/video/Qz1WnXnxNdY">Stecka Köttfärs</a></li>
    </ul>
    <h3>Koka</h3>
    <ul>
        <li><a href="/video/AskdjNa92w0">Koka Potatis</a></li>
    </ul>
    <h3>Rengörning</h3>
    <ul>
        <li><a href="/video/FxwNoZgvF1M">Diska för hand</a></li>
    </ul>
</div>
      
{% endblock %}