{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<!--This shows within the layout.html template-->
<div class="main">
  <div>
      <h3>Grönsaker/frukt</h3>
      <ul>
          <li><a href="/video/dCGS067s0zo">Hacka lök</a></li>
      </ul>
  </div>
  <div>
      <h3>Köt</h3>
      <ul>
          <li><a href="/video/Qz1WnXnxNdY">Stecka Kötfärs</a></li>
      </ul>
  </div>
  <div>
      <h3>Koka</h3>
      <ul>
          <li><a href="/video/AskdjNa92w0">Koka Potatis</a></li>
      </ul>
  </div>
  <div>
      <h3>Rengörning</h3>
      <ul>
          <li><a href="/video/FxwNoZgvF1M">Diska för hand</a></li>
      </ul>
  </div>
  <div>
      <h3>Annat</h3>
      <ul>

      </ul>
  
{% endblock %}