{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<!--This shows within the layout.html template-->
<div class="video">
    <h3>Grönsaker/frukt</h3>
    <ul>
        <li><a href="{{ url_for('recipes.videoplayer', video_id='dCGS067s0zo') }}">Hacka lök</a></li>
    </ul>
    <h3>Köt</h3>
    <ul>
        <li><a href="{{ url_for('recipes.videoplayer', video_id='Qz1WnXnxNdY') }}">Stecka Köttfärs</a></li>
    </ul>
    <h3>Koka</h3>
    <ul>
        <li><a href="{{ url_for('recipes.videoplayer', video_id='AskdjNa92w0') }}">Koka Potatis</a></li>
    </ul>
    <h3>Rengörning</h3>
    <ul>
        <li><a href="{{ url_for('recipes.videoplayer', video_id='FxwNoZgvF1M') }}">Diska för hand</a></li>
    </ul>
</div>
      
{% endblock %}