#Authors: Leo M. Holm & Axel Holm
#Coding: utf-8
# flask.cfg
# Configures the app
 
import os
 
 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'leoleoaxelaxelholmholm'
DEBUG = True

# SQLAlchemy
SQLALCHEMY_DATABASE_URI = 'postgresql://ah8140:pzvieemm@pgserver.mah.se/akademigastrologi'
SQLALCHEMY_TRACK_MODIFICATIONS = True

#Säkerhetsparameter för information skickad "form"
WTF_CSRF_ENABLED = True

# Safety parameter for passwords
BCRYPT_LOG_ROUNDS = 15

# Mailparams
# MAIL_SERVER = 'smtp.gmail.com'
# MAIL_PORT = 465
# MAIL_USE_TLS = False
# MAIL_USE_SSL = True
# MAIL_USERNAME = 'akamedigastrologinoreply@gmail.com'
# MAIL_PASSWORD = 'nldm wcre qyny tvfr'

# Uploads
UPLOADS_DEFAULT_DEST = TOP_LEVEL_DIR + '/project/static/img/'
UPLOADS_DEFAULT_URL = 'http://localhost:5000/static/img/'
 
UPLOADED_IMAGES_DEST = TOP_LEVEL_DIR + '/project/static/img/'
UPLOADED_IMAGES_URL = 'http://localhost:5000/static/img/'

