# flask.cfg
 
import os
 
 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'leoleoaxelaxelholmholm'
DEBUG = True

# SQLAlchemy
SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:2safe4me@localhost/AG'
SQLALCHEMY_TRACK_MODIFICATIONS = True

#Säkerhetsparameter för information skickad "form"
WTF_CSRF_ENABLED = True