<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Hem</a> <button class="navbar-toggler border-0" type="button"
                data-toggle="collapse" data-target="#exCollapsingNavbar"> &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Om oss</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Recept</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Mediagalleri</a></li>
                    <li class="nav-item"><a href="forum.html" class="nav-link">Forum</a></li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1">
                        <a href="#" class="nav-link" title="settings">
                            <i class="fa fa-cog fa-fw fa-lg"></i>
                        </a>
                    </li>
                    <li class="dropdown order-1">
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                            class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <form class="form" role="form">
                                    <div class="form-group"> <input id="emailInput" placeholder="Email"
                                            class="form-control form-control-sm" type="text" required=""> </div>
                                    <div class="form-group"> <input id="passwordInput" placeholder="Password"
                                            class="form-control form-control-sm" type="text" required=""> </div>
                                    <div class="form-group"> <button type="submit"
                                            class="btn btn-primary btn-block">Login</button> </div>
                                    <div class="form-group text-center">
                                        <small><a href="#" data-toggle="modal" data-target="#modalPassword">Glömt
                                                lösenord?</a></small>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <h2>Is backing soda good?</h2>
            </div>
            <!--Question-->
            <div class="row">
                <div class="col-xl question">
                    <div class="q_info">
                        <div class="row">
                            <div class="col-xs">
                                <div class="profile_img"></div>
                            </div>
                            <div class="col-sm">
                                <div class="row">
                                    Liam Neeson
                                </div>
                                <div class="row">
                                    7:00pm 21.02.2020
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="q_content">
                        I heard that baking soda can cause cancer. Is this true?
                    </div>
                </div>
            </div>
            <div class="row">
                <h5>Answers</h5>
            </div>
            <!-- Answers -->
            <div class="row">
                <div class="answers">
                    <div class="row">
                        <div class="col-xs">
                            <div class="profile_img"></div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                Bob Marley
                            </div>
                            <div class="row">
                                7:00pm 21.02.2020
                            </div>
                        </div>
                    </div>
                    I have never had any problems with it. You have to research yourself.
                </div>
                <div class="answers">
                    <div class="row">
                        <div class="col-xs">
                            <div class="profile_img"></div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                John Doe
                            </div>
                            <div class="row">
                                7:00pm 21.02.2020
                            </div>
                        </div>
                    </div>
                    Baking soda is good but also not good depending the quantity of use.
                </div>
            </div>

            <div class="row">
                <h5>Leave a comment</h5>
            </div>
            <div class="row">
                <form action="">
                    <textarea name="comment" id="comment" cols="60" rows="8"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </main>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>