.error {
	color: red;
	font-size: .8em;
}

body {
	font-family: 'Raleway', sans-serif;
	padding-top: 100px;
	background: #ffffff;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 75px;
}

button:focus {
	outline: 0;
}

.navbar .dropdown-menu .form-control {
	width: 200px;
}

.btn-primary {
	background-color: #777777;
	border-color: #333333;
	color: white !important;
}

.btn-primary:hover {
	background-color: #333333;
	border-color: #777777;
	color: white !important;
}

.panel-primary > .panel-heading{
	background-color:#777777;
	border-color: #333333;
}


.bg-primary {
	background-color: #333333 !important;
}

.bg-dark {
	background-color: #333333 !important;
}

.btn-outline-secondary {
	background-color:#999999;
}


.glyphicon glyphicon-log-in {
	margin-right: 2px;
}

.footer {
	text-align: center;
	position: fixed;
	left: 0em;
	bottom: 0em;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 5px;
	margin-top: 55px;
}

.db-social .jumbotron {
	background: url(https://cdn.pixabay.com/photo/2019/08/10/22/34/food-4397860_960_720.jpg);
	background-size: 75% !important;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom center;
	color: #fff !important;
	height: 300px;
	position: relative;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
	padding: 0;
}

.container-fluid-user {
	padding: 30px 30px;
}

.db-social .head-profile {
	margin-top: -120px;
	border-radius: 4px;
	position: relative;
}

.widget {
	background: #fff;
	border-radius: 0;
	border: none;
	margin-bottom: 30px;
}
.has-shadow {
	box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}
.db-social .head-profile:before {
	content: "";
	background: rgba(255, 255, 255, .6);
	height: 20px;
	width: 90%;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 4px 4px 0 0;
}
.db-social .head-profile:after {
	content: "";
	background: rgba(255, 255, 255, .3);
	height: 20px;
	width: 80%;
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 4px 4px 0 0;
}
.db-social .widget-body {
	padding: 1rem 1.4rem;
}
.widget-body {
	padding: 1.4rem;
}
.pb-0,
.py-0 {
	padding-bottom: 0 !important;
}
.db-social .image-default img {
	width: 120px;
	position: absolute;
	top: -80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-shadow: 0 0 0 6px rgba(255, 255, 255, 1);
	z-index: 10;
}
.db-social .infos {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
	line-height: 1.8rem;
}
.db-social h2 {
	color: #2c304d;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: .2rem;
}
.db-social .heading {
	color: #aea9c3;
	font-size: 1.5rem;
}
.db-social .follow .btn {
	padding: 10px 30px;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.btn-shadow,
.btn-shadow a {
	color: #5d5386;
	background-color: #fff;
	border-color: #fff;
	box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .15);
}
.db-social .head-profile .actions {
	display: inline-block;
	vertical-align: middle;
	margin-left: .5rem;
}
.actions {
	z-index: 999;
	display: block;
}
.actions.dark .dropdown-toggle {
	color: #2c304d;
}
.actions .dropdown-toggle {
	color: #98a8b4;
	background: none;
	border: none;
	padding: 0;
	font-size: 1.7rem;
}
.actions .dropdown-menu {
	border: none;
	min-width: auto;
	font-size: 1rem;
	border-radius: 4px;
	padding: 1.4rem 1.8rem;
	text-align: left;
	box-shadow: 1px 1px 30px rgba(0, 0, 0, .15);
}

.actions .dropdown-menu .dropdown-item {
	padding: .5rem 0;
}
.actions .dropdown-menu a {
	color: #2c304d;
	font-weight: 500;
}

.db-social .head-profile li:first-child {
	padding-left: 0;
}
.db-social .head-profile li {
	display: inline-block;
	text-align: center;
	padding: 0 1rem;
}
.db-social .head-profile li .counter {
	color: #2c304d;
	font-size: 1.4rem;
	font-weight: 600;
}
.db-social .head-profile li .heading {
	color: #aea9c3;
	font-size: 1rem;
}

#user_statistik {
	text-align: center;
	margin-right: 80px;
	margin-top: 50px;
}

.header {
	text-align: center;
}

.container .db-social {
	padding-left: 0;
}

.profile_recipes {
	border-top: solid;
	border-bottom: solid;
	margin-top: 50px;
	border-width: 2px;
    margin-bottom: 50px;
    padding: 20px;
}

/* #formtest {
	color: red;
} */

.user-registration {
	border-style: solid;
	border-radius: 25px;
	border-width: 1px;
	padding: 30px;
	text-align: center;
	-webkit-box-shadow: 24px 25px 33px -3px rgba(0,0,0,0.42);
	-moz-box-shadow: 24px 25px 33px -3px rgba(0,0,0,0.42);
	box-shadow: 24px 25px 33px -3px rgba(0,0,0,0.42);
	margin-top: 40px;
	margin: auto;

}

#test1 { 
	border-color:#cccccc; 
	padding:7px; 
	font-size:24px; 
	border-width:2px; 
	border-radius:23px; 
	border-style:hidden; 
	box-shadow: 7px 4px 13px 0px rgba(42,42,42,.61);
	text-align: center;  
} 
.css-input:focus { 
	outline:none; 
} 

.container-flash {
	text-align: center;
	width: 40%;
	margin-left: 30%;
}

.recipe_image {
	width: 48%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 4px 10px 5px rgba(0,0,0,0.63);
	-moz-box-shadow: 2px 4px 10px 5px rgba(0,0,0,0.63);
	box-shadow: 2px 4px 10px 5px rgba(0,0,0,0.63);
	
}
.recipe_info {
	width: 48%;
	display: inline-block;
	box-sizing: border-box;
}
.recipe_descript_title {
	font-size: calc(1.3em + 1.3vw)
	
}

.recipe_descipt_descript {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
}

.page_header {
	white-space: nowrap;
}

.video {
	max-width: 1300px;
	margin: auto;
}

.image{
    display: flex;
	flex-wrap: wrap;
}

.image img {
    margin: 5px;
}

.btn-margin {
	margin-bottom: 20px;
}

#navbarlogo {
	height: 50%;
	width: 50%;
}

#landingh1 {
	font-weight: bolder;
	color: white;
}

.nav > li > a{
	padding-top: 30px;
	font-size: 16px;
	font-weight: bolder;
}


main {
	padding-top: 50px;
}

.forum {
	border: 1px solid #cecece;
	/* border-bottom: none; */
	min-height: 80px;
	padding: 10px;
	margin-bottom: 10px;
}

.forum_stats {
	font-size: 0.8em;
}

.question, .answers {
	border: 1px solid #cecece;
	border-radius: 3px;
	min-height: 50px;
	width: 100%;
	padding: 20px;
	margin-bottom: 50px;
}

.answers {
	margin-bottom: 0;
	border-radius: 0;
	border-bottom: none;
}

.answers:last-child {
	border-bottom: 1px solid #cecece;
	margin-bottom: 50px;
}

.profile_img {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #42AEEC;
	margin: 0 20px 20px;
}

textarea, input {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	border-width: 1px;
	outline: none;
	padding: 4px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

input[type = submit] {
	background: darkred;
	color: white;
	border: none;
}

.new {
	position: fixed;
	top: 115px;
	right: 85px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: darkred;
	color: white;
	font-size: 2em;
	border: none;
}